

/* CSS exports */
body {
  /* background-image: url(https://4kwallpapers.com/images/wallpapers/black-dark/boxer-woman-workout-black-background-fitness-fighter-5k-8k-5683.jpg); */
  background-color: black;
  margin: 0;
  padding: 0;
}

.heroimage {
  min-Height: 90vh;
  background-Image: url(https://4kwallpapers.com/images/wallpapers/black-dark/boxer-woman-workout-black-background-fitness-fighter-5k-8k-5683.jpg);
  background-size: cover;
}

h2 {
  
}