/* CSS exports */
body {
  background-image: url(https://4kwallpapers.com/images/wallpapers/black-dark/boxer-woman-workout-black-background-fitness-fighter-5k-8k-5683.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
  margin: 0;
  padding: 0;
}
#nav {
  display: flex;
  background: transparent;
  height: 105px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
#nav:active {
  color: aqua;
}
#links {
  display: flex;
  justify-content: flex-end;
}
#main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  font-family: "Wire One";
  font-size: 45px;
  color: white;
  text-decoration: none;
  padding-right: 40px;
}
.link:hover {
  color: #984950;
  text-shadow: 0 0 5px red;
  text-decoration: underline 2px aqua;
}

.heroimage {
  position: sticky;
  width: 100vw;
  height: 100vh;
}
.heroimage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://4kwallpapers.com/images/wallpapers/black-dark/boxer-woman-workout-black-background-fitness-fighter-5k-8k-5683.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}